a {
  font-weight: bold;
  color: var(--df-blue);
  text-decoration: none;
}

/* underline only simple <a> elements */
a:not([class]):hover {
  text-decoration: underline;
}

:root {
  --df-background-color: white;
  --df-text-color: #ccc;
  --df-blue: rgb(18, 151, 195);
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-bar a {
  background: var(--df-background-color) !important;
}

.leaflet-bar a {
  color: var(--df-text-color) !important;
}

p {
  font-family: "PT Serif", serif;
  /* font-size: 1.1em; */
}

.serif {
  font-family: "PT Serif", serif;
}

.sans-serif {
  font-family: unset !important;
}

/* Prevent Scrolling Horizontally */
html, body {
  overflow-x: hidden;
}
